<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
        <display-name>SBD</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
<!--    <servlet>-->
<!--        <servlet-name>appointment</servlet-name>-->
<!--        <jsp-file>appointment.jsp</jsp-file>-->
<!--    </servlet>-->
<!--    <servlet>-->
<!--        <servlet-name>home</servlet-name>-->
<!--        <servlet-class>Web.UserServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet>-->
<!--        <servlet-name>doctor</servlet-name>-->
<!--        <servlet-class>Web.DoctorServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>doctor</servlet-name>-->
<!--        <url-pattern>/doctor</url-pattern>-->
<!--    </servlet-mapping>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>appointment</servlet-name>-->
<!--        <url-pattern>/appointment/*</url-pattern>-->
<!--    </servlet-mapping>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>home</servlet-name>-->
<!--        <url-pattern>/jsp-example-1.0/</url-pattern>-->
<!--    </servlet-mapping>-->
</web-app>


